:root {
  /*Normal texts colors*/
  --textcolor: #000;
  --accentcolor: #45a049;
  --accentcolor2: #555;
  --accentcolor3: #888;
  --logintitle: #000;
  --labletext: #000;
  --successtext: #3c763d;
  --errortext: #a94442;
  --linkcolor: green;

  /*Borders and shadows*/
  --bordercolor: #000;
  --bordercard: #000;
  --shadowcolor: rgba(0, 0, 0, 0.1);
  --successborder: #d6e9c6;
  --errorborder: #ebccd1;

  /*Buttons*/
  --buttonhover: #45a049;
  --textbutton: #fff;
  --button: #4CAF50;
  --buttondisabled: #ccc;
  --removebutton: #f44336;
  --removebuttonhover: #c82333;

  /*Backgrounds*/
  --inputbackground: #fff;
  --successbackground: #dff0d8;
  --errorbackground: #f2dede;
  --formbackground: #f2f2f2;
  --backgroundcolor: #eee;
  --backgroundcard: #fff;
  --titlebackground: #ddd;
  --selectedbackground: rgba(60, 60, 60, 0.12);
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--textcolor);
  background: var(--backgroundcolor);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
