@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--linkcolor);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--linkhover);
  }
}

body {
  display: flex;
  place-items: center;
}

